<a href="https://colab.research.google.com/github/kmitsrinivas/kmitRep1/blob/master/july30thAfternoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('indian_liver_patient.csv')
df.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1
3   58    Male              1.0  ...      3.4                        1.00        1
4   72    Male              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [ ]:
df=df.dropna()

In [ ]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
df['NewGender']=lab.fit_transform(df['Gender'])
df.head()

   Age  Gender  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio  Dataset  NewGender
0   65  Female              0.7  ...                        0.90        1          0
1   62    Male             10.9  ...                        0.74        1          1
2   62    Male              7.3  ...                        0.89        1          1
3   58    Male              1.0  ...                        1.00        1          1
4   72    Male              3.9  ...                        0.40        1          1

[5 rows x 12 columns]

In [ ]:
df=df.drop('Gender',axis=1)
df.head()

   Age  Total_Bilirubin  ...  Dataset  NewGender
0   65              0.7  ...        1          0
1   62             10.9  ...        1          1
2   62              7.3  ...        1          1
3   58              1.0  ...        1          1
4   72              3.9  ...        1          1

[5 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Total_Bilirubin             583 non-null    float64
 2   Direct_Bilirubin            583 non-null    float64
 3   Alkaline_Phosphotase        583 non-null    int64
 4   Alamine_Aminotransferase    583 non-null    int64
 5   Aspartate_Aminotransferase  583 non-null    int64
 6   Total_Protiens              583 non-null    float64
 7   Albumin                     583 non-null    float64
 8   Albumin_and_Globulin_Ratio  579 non-null    float64
 9   Dataset                     583 non-null    int64
 10  NewGender                   583 non-null    int64
dtypes: float64(5), int64(6)
memory usage: 50.2 KB

In [ ]:
from sklearn.model_slection import train_test_split#we need 2 parameters
                                              #x and y that to in x data and in y labels

In [12]:
x=df.iloc[:,df.columns!='Dataset']  #df[:,0:8]
y=df.iloc[:,df.columns=='Dataset']

In [14]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

NameError: ignored

In [ ]:
xtrain

In [ ]:
ytrain

In [ ]:
xtrain.shape,stest.shape

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model=DecisionTreeClassifier()
model.fit(xtrain,ytrain)

In [ ]:
model_output=model.predict(xtest)
pritn(model_output)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
acc=accuracy_score(model_output,ytest)
print(acc)

In [ ]:
user_input=np.array([65,0.7,0.1,])

In [ ]:
user_output=model.predict(user_input)
print(user_output)